body {
    margin: 0;
    padding: 0;
    min-width: 300px;
    min-height: 350px;
    background-color: 255, 180, 0;
    background-color: #FFB400;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    text-align: center;
    box-sizing: border-box;
}

.container {
    position: relative;
}

#display {
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
}

button {
    font-family: 'Patrick Hand', cursive;
    font-size: 17px;
}

.footer {
    width: 75%;
    color: #113537;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    background-color: #F75850;
    border-radius: 7px;
}

img {
    margin-top: 3px;
    width: 300px;
    height: auto;
}

h3 {
    position: absolute;
    margin: 0;
    top: 18px;
    left: 47px;
    font-size: 23px;
    letter-spacing: 6px;
    color: #113537;
}

h3 small {
    letter-spacing: 2px;
}

.button {
    border: none;
    color: white;
    padding: 10px;
    justify-content: center;
    background-color: #37505C;
    border-radius: 7px;
}

#time {
    letter-spacing: 7px;
    font-size: 35px;
    color: #37505C;
    background-color: white;
    border-radius: 5px;
    width: 85%;
    padding: 3px;
    margin: 0 auto 10px auto;
    border-radius: 7px;
    width: 70%;
}

.choice-grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px;
}

.choice-btn {
    display: inline-block;
    grid-template-columns: auto / span 1;
}

#work-btn {
    justify-content: stretch;
    align-items: stretch;
    justify-items: stretch;
    align-content: stretch;
    align-self: stretch;
    justify-self: stretch;
}